.bar:hover {
    fill: #9DCCCA;
}

div {
    border: 1px solid black;
}

body {
    background-color: #20221A;
}

svg g text.value {
    display: none;
}

svg g text.value:hover::selection {
    display: initial;
}